<div class="container">
    <h1 style="color: greenyellow;" class="text-center">LOGIN</h1>
    <form>
        <label>Correo: <input type="text" placeholder="correo" [(ngModel)] = "uname" name="uname"></label><br/><br/>
        <label>Password: <input type="text" name="password" placeholder="password" [(ngModel)] = "pword"></label><br/><br/>
        <button (click)="getUP()" class="btn btn-success">Ingresar</button>
        {{ msg }}
    </form>
    <a routerLink="/registrarse">¿No tienes cuenta?, REGISTRATE</a>
</div>

